{% load base_extras %}
{% load i18n %}
<html>
<head>
  <title>{% block title %}{{ SITE.title }}{% endblock %} - {% block subtitle %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Le styles -->
  <link href="{{ STATIC_URL }}jquery-ui/css/smoothness/jquery-ui-1.8.22.custom.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}twitter-bootstrap/css/bootstrap.css" rel="stylesheet">
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.js"></script>
  {% block style %}{% endblock %}
  <link href="{{ STATIC_URL }}twitter-bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{ IMAGE_URL }}favicon.ico">
</head>
<body>
  <div class="span10 well">
    {% block content %}
    {% endblock %}
  </div>
  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ STATIC_URL }}js/underscore.js"></script>
  <script src="{{ STATIC_URL }}js/underscore.string.js"></script>
  <script src="{{ STATIC_URL }}jquery-ui/js/jquery-ui-1.8.22.custom.min.js"></script>
  <script src="{{ STATIC_URL }}twitter-bootstrap/js/bootstrap-transition.js"></script>
  <script src="{{ STATIC_URL }}twitter-bootstrap/js/bootstrap-alert.js"></script>
  <script src="{{ STATIC_URL }}twitter-bootstrap/js/bootstrap-modal.js"></script>
  <script src="{{ STATIC_URL }}twitter-bootstrap/js/bootstrap-dropdown.js"></script>
  <script src="{{ STATIC_URL }}twitter-bootstrap/js/bootstrap-scrollspy.js"></script>
  <script src="{{ STATIC_URL }}twitter-bootstrap/js/bootstrap-tab.js"></script>
  <script src="{{ STATIC_URL }}twitter-bootstrap/js/bootstrap-tooltip.js"></script>
  <script src="{{ STATIC_URL }}twitter-bootstrap/js/bootstrap-popover.js"></script>
  <script src="{{ STATIC_URL }}twitter-bootstrap/js/bootstrap-button.js"></script>
  <script src="{{ STATIC_URL }}twitter-bootstrap/js/bootstrap-collapse.js"></script>
  <script src="{{ STATIC_URL }}twitter-bootstrap/js/bootstrap-carousel.js"></script>
  <script src="{{ STATIC_URL }}twitter-bootstrap/js/bootstrap-typeahead.js"></script>
  {% block script %}{% endblock %}
</body>
</html>
